
@model Skylakias.ViewModels.CustomerViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Customer</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.User.Name)
        @Html.TextBoxFor(m => m.User.Name, new { @class = "form-control" })
    </div>
   
    <div class="form-group">
        @Html.LabelFor(m => m.MembershipType.Name)
        @Html.DropDownListFor(m => m.MembershipType.Name, new SelectList(Model.MembershipTypes, "Name", "Name"), "Select Membership Type", new { @class = "form-control" })
    </div>
   
    @Html.HiddenFor(m => m.User.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}
